*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding-bottom: 24px;
    margin: 24px;
    border-bottom: 1px solid black;
}

.cs1{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}